<div class="panel panel-primary" style="height: 250px">
    <div class="panel-heading" style="cursor: pointer;">
        {{fileInfo.name}}
    </div>
    <div class="panel-body">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img *ngIf="fileInfo.image" [src]="fileInfo.image" width="100px" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <p class="text-muted">{{fileInfo.fileInfo.name}}</p>
            <p *ngIf="fileInfo.isDir">
                Repertoire<br />
                <a (click)="navigate()" class="btn btn-default btn-xs">Parcourir ...</a>
            </p>
            <p *ngIf="!fileInfo.isDir">
                <a *ngIf="isStreamable()" class="btn btn-primary btn-xs" (click)="playInBrowser()">Streamer</a>
                <a *ngIf="isPlayable()"   class="btn btn-primary btn-xs" (click)="play()">Lire sur la box</a>
                <a class="btn btn-default btn-xs" (click)="directDownload( fileInfo.path)">Télécharger</a>
                <a class="btn btn-default btn-xs">Télécharger sur ma box</a>
            </p>

        </div>
    </div>
</div>
