<div class="panel panel-primary" style="height: 250px">
    <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis;">
        {{fileInfo.name}}
    </div>
    <div class="panel-body">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img *ngIf="fileInfo.image" [src]="fileInfo.image" width="100px" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <p class="text-muted" style="word-wrap: break-word;">{{fileInfo.fileInfo.name}}</p>
            <p *ngIf="fileInfo.isDir">
                <a (click)="navigate()" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>&emsp;Parcourir...
                </a>
            </p>
            <p *ngIf="!fileInfo.isDir" class="">{{fileInfo.fileInfo.size | o2hr}}</p>
            <p *ngIf="!fileInfo.isDir" class="btn-group">
                <a *ngIf="isStreamable()" class="btn btn-default btn-xs" (click)="playInBrowser()">
                    <span class="glyphicon glyphicon-expand" aria-hidden="true"></span>
                </a>
                <a *ngIf="isPlayable()" class="btn btn-default btn-xs" (click)="play()">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </a>
                <a class="btn btn-default btn-xs disabled" (click)="directDownload()">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </a>
                <a *ngIf="isExternalBox()" class="btn btn-default btn-xs" (click)="boxDownload()">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </a>
            </p>
        </div>
    </div>
</div>
