{{< index }}
{{$ content}}

<script>
    function FileSystem_getSynopsis( movieTitle){
        $.ajax({
            type: "POST",
            url: "api.php?service=filesystem&action=synopsis",
            data: {
                movie_title: movieTitle
            },
            success : function( response){
                console.log( response);
                $('#youpi').html( response.data.plot);
                $('#synopsis').modal();
            }
        });
    }


    function FileSystem_playVideo( path){
        $.ajax({
            type: "POST",
            url: "api.php?service=filesystem&action=play",
            data: {
                path: path
            },
            success : function( response){
                console.log( response);
            }
        });
    }

    function FileSystem_share( path){
        $.ajax({
            type: "POST",
            url: "api.php?service=filesystem&action=share",
            data: {
                path: path
            },
            success : function( response){
                console.log( response);
                $('#youpi').html( "Url : " + response.data.url);
                $('#synopsis').modal();
            }
        });
    }
</script>

<h1>Système de fichiers</h1>
<p class="lead">Liste des fichiers sur les disques connectés a la freebox</p>


<ul class="breadcrumb">
    {{# getDirectoryParts}}
    <li><a href="?service=filesystem&path={{path}}">{{name}}</a></li>
    {{/ getDirectoryParts}}
</ul>


<div class="row">
    {{# fileInfos}}
    <div class="col-lg-4 col-md-6 col-sm-12">

            <div class="panel {{getTypeClass}}" style="height: 250px">
                <div class="panel-heading">
                    {{# isDir}}
                        <a href="?service=filesystem&path={{getPath}}" >
                            {{getSerieTitle}}
                        </a>
                    {{/ isDir}}
                    {{^ isDir}}
                        {{getSerieTitle}}
                    {{/ isDir}}
                </div>
                <div class="panel-body">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    {{# getImage}}
                    <img src="{{.}}" width="100px"/>
                    {{/ getImage}}
                    {{^ getImage}}
                        {{# isDir}}
                            <img src="folder.png" width="100px" />
                        {{/ isDir}}
                    {{/ getImage}}
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <p class="text-primary">{{getWrappedName}}</p>
                        {{# getMovieInfo}}
                        <p>{{.}}</p>
                        {{/ getMovieInfo}}
                        {{# isVideo}}
                            <a onclick="FileSystem_getSynopsis('{{getSerieTitle}}');" href="#" class="btn btn-primary btn-xs">Synopsis</a>
                            <a onclick="FileSystem_playVideo('{{getPath}}');" href="#" class="btn btn-success btn-xs">Lire</a>
                        {{/ isVideo}}
                        {{^ isDir}}
                            <a onclick="FileSystem_share('{{getPath}}');" href="#" class="btn btn-primary btn-xs">Partager</a>
                            <p class="text-muted">Taille : {{getSizeHr}}</p>
                        {{/ isDir}}
                    </div>
                </div>
            </div>

    </div>
    {{/ fileInfos}}
</div>

<div class="modal" id="synopsis">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Synopsis</h4>
            </div>
            <div class="modal-body">
                <p id="youpi"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{/ content}}
{{/ index }}
