{{< index }}
{{$ content}}

<h1>Système de fichiers</h1>
<p class="lead">Liste des fichiers sur les disques connectés a la freebox</p>


<ul class="breadcrumb">
    {{# getDirectoryParts}}
    <li><a href="?service=filesystem&path={{path}}">{{name}}</a></li>
    {{/ getDirectoryParts}}
</ul>


<div class="row">
    {{# fileInfos}}
    <div class="col-lg-4 col-md-4 col-sm-4">

            <div class="panel {{getTypeClass}}" style="height: 250px">
                <div class="panel-heading">
                    {{# isDir}}
                        <a href="?service=filesystem&path={{getPath}}" >
                            {{getSerieTitle}}
                        </a>
                    {{/ isDir}}
                    {{^ isDir}}
                        {{getSerieTitle}}
                    {{/ isDir}}
                </div>
                <div class="panel-body">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                    {{# getImage}}
                    <img src="{{.}}" width="100px"/>
                    {{/ getImage}}
                    {{^ getImage}}
                        {{# isDir}}
                            <img src="folder.png" width="100px" />
                        {{/ isDir}}
                    {{/ getImage}}
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <p class="text-primary">{{getWrappedName}}</p>
                        {{# getMovieInfo}}
                        <p>{{.}}</p>
                        {{/ getMovieInfo}}

                        {{^ isDir}}
                            <p class="text-muted">Taille : {{getSizeHr}}</p>
                        {{/ isDir}}
                    </div>
                </div>
            </div>

    </div>
    {{/ fileInfos}}
</div>

{{/ content}}
{{/ index }}
