<h1>Téléchargements</h1>
<p class="lead">Liste des téléchargements !</p>

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#home" data-toggle="tab">Tous</a>
    </li>
    <li>
        <a href="#seed" data-toggle="tab">En partage</a>
    </li>
    <li>
        <a href="#download" data-toggle="tab">En cours</a>
    </li>
    <li>
        <a href="#done" data-toggle="tab">Terminés</a>
    </li>
</ul>


<a (click)="getDownloads()" class="btn btn-default btn-xs">Actualiser</a>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="home">
        <p>Tous les téléchargements</p>
        <div *ngFor="let download of downloads">
            <download-item [downloadItem]="download"></download-item>
        </div>
    </div>
    <div class="tab-pane fade" id="seed">
        <p>Téléchargements terminés en cours de partage</p>
        <div *ngFor="let download of downloadsSeeding">
            <download-item [downloadItem]="download"></download-item>
        </div>
    </div>
    <div class="tab-pane fade" id="download">
        <p>Téléchargements en cours</p>
        <div *ngFor="let download of downloadsInProgress">
            <download-item [downloadItem]="download"></download-item>
        </div>
    </div>
    <div class="tab-pane fade" id="done">
        <p>Téléchargements Terminés</p>

        <a (click)="cleanDone()" class="btn btn-primary btn-xs">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>&emsp;Retirer les téléchargements terminées
        </a>

        <div *ngFor="let download of downloadsDone">
            <download-item [downloadItem]="download"></download-item>
        </div>
    </div>
</div>
