
<div *ngIf="af.auth | async">
    <h1>Bienvenuuuuue !!!</h1>
    <p class="lead">Liste des freebox connectées au systeme</p>

    <div class="row">
        <div *ngFor="let freeboxInfo of freeboxInfos" class="col-sm-6 col-lg-6 col-xs-6">
            <freebox-info [uid]="freeboxInfo.uid" [name]="freeboxInfo.name"></freebox-info>
        </div>
    </div>

    <a [routerLink]="['/association']" class="btn btn-primary btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&emsp;Associer une freebox locale
    </a>

</div>
