
<div *ngIf="!(af.auth | async)">
    <a (click)="login()" class="btn btn-primary">
        Login
    </a>
</div>

<div *ngIf="af.auth | async">
    <h1>Bienvenuuuuue !!!</h1>
    <p class="lead">Liste des freebox connectées au systeme</p>

    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Freebox</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let freeboxInfo of freeboxInfos">
            <td>{{freeboxInfo.host}}</td>
            <td>
                <span *ngIf="freeboxInfo.uid == uid" class="label label-primary">Principale</span>
                <span *ngIf="freeboxInfo.uid != uid" class="label label-default">Secondaire</span>
            </td>
        </tr>
        </tbody>
    </table>

    <a [routerLink]="['/association']" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&emsp;Associer une freebox locale
    </a>

    <a (click)="logout()" class="btn btn-primary">
        Déconnexion
    </a>
</div>
