
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
        <img src="{{getImage}}" width="100px" />
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11">
                <h4>{{getCleanName}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5">
                <div class="bs-component">
                    <span class="label label-success">{{getType}}</span>
                    <span class="label label-default">{{getStatus}}</span>
                    <span class="text-muted">&emsp;{{getEtaHr}}</span>
                </div>
                <div class="bs-component" style="margin-top: 10px;">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" style="width: {{getRxPct}}%">{{getRxPct}}%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" style="width: {{getTxPct}}%">{{getTxPct}}%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                Taille : {{getSizeHr}}<br/>
                Recu : {{getDlHr}} ({{getTxRate}} o/s)<br />
                Envoyé : {{getUlHr}} ({{getRxRate}} o/s)
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="btn-group">
                    <a href="#" class="btn btn-default">Actions</a>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a onclick="clearDownload({{getId}});" href="#">Enlever</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Mettre en pause</a></li>
                        <li><a href="#">Relancer</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
