{{< index }}
{{$ content }}

<div class="panel panel-default">
    <div class="panel-heading">Téléchargements</div>
    <div class="panel-body">
        <div class="list-group">
            <a href="?service=download" class="list-group-item">
                Téléchargements
            </a>
            <a href="?service=download_dlrss" class="list-group-item">
                Verifier les éléments recherchés dans les flux RSS
            </a>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Système de fichiers</div>
    <div class="panel-body">
        <div class="list-group">
            <a href="?service=filesystem" class="list-group-item">
                Tous les disques
            </a>
        </div>
    </div>
</div>

{{/ content }}
{{/ index }}
