{{< index }}
{{$ content }}
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
            {{$ header }}
                HEADER
            {{/ header }}
            </div>
        </div>

        <div class="row">
            {{$ contenu}}
            CONTENU
            {{/ contenu}}
        </div>
{{/ content}}
{{/ index}}
