
<div *ngIf="af.auth | async">
    <h1>Système de fichiers</h1>
    <p class="lead">Liste des fichiers sur les disques connectés a la freebox</p>

    <ul *ngIf="directoryInfo" class="breadcrumb">
        <li *ngFor="let part of directoryInfo.path_part">
            <a style="cursor: pointer" (click)="navigate( part.path)">{{part.name}}</a>
        </li>
    </ul>

    <div *ngIf="directoryInfo" class="row">
        <div *ngFor="let fileInfo of directoryInfo.files" class="col-lg-4 col-md-6 col-sm-12">
            <file-info [fileInfo]="fileInfo"></file-info>
        </div>
        <div *ngIf="directoryInfo.files.length == 0" class="col-lg-12 col-md-12 col-sm-12">
            <div class="well well-lg">
                Pas grand chose ici...
            </div>
        </div>
    </div>
</div>
