
<h1>Scan de flux RSS</h1>
<p class="lead">Analyses de flux RSS a la recherche d'un élément particulier</p>


<div *ngFor="let rssSearch of rssSearches" class="panel panel-default">
    <div class="panel-heading">{{rssSearch.pattern}}</div>
    <div class="panel-body">
        <div class="col-lg-10 col-md-10 col-sm-10">
            - {{ rssSearch.rss }}<br/>
            - {{ rssSearch.pattern }}<br/>
            Dernière verification <span class="text-success">{{ rssSearch.last_date * 1000 | date: 'EEEE, dd MMMM y (H:m:s)' }}</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <a (click)="checkRss(rssSearch.id)" class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span>&emsp;Verifier
            </a>
        </div>
    </div>
    <div *ngIf="checkRssResults" class="panel-footer">
        Téléchargements ajoutés :
        <p *ngFor="let checkRssResult of checkRssResults">
            {{ checkRssResult }}
        </p>
    </div>
</div>

<a class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&emsp;Ajouter un nouveau flux a scanner
</a>
